@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wdth,wght@62.5..100,100..900&display=swap" rel="stylesheet">

<head>
    <style>
        

        body {
            margin: 0;
            margin-right: 0 !important;
            padding: 0;
            margin-right: 2rem;
            overflow-x: hidden;
            font-family: 'Noto Serif Georgian', serif;
        }

        /* baneris stilebi */


        #banerisContainer {
            position: relative;
            height: 50vh;
            width: 100%;
            font-size: 2rem;
            text-align: center;
            align-content: center;
            padding: 0 !important;
            z-index: -1;
        }

            #banerisContainer img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                opacity: 1;
            }

            #banerisContainer P {
                position: absolute;
                top: -4rem;
                left: 3%;
                padding-top: 10rem;
                color: white;
                width: 5rem;
            }


        #ragac {
            height: 100vh
        }


        /* counteris seqcia */

        #counter {
            height: 30vh;
            width: 80%;
            margin: auto;
            background-color: #FEF9E7;
            margin-top: -3rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-around;
            gap: 5px;
            text-align: center;
            padding-top: 1.5rem;
            border-radius: 1rem;
            font-size: 1.6rem;
        }


        /* servisebis seqcia */

        .fancy {
            margin-top: 5rem;
            line-height: 0.5;
            text-align: center;
        }

            .fancy span {
                display: inline-block;
                position: relative;
            }

                .fancy span:before,
                .fancy span:after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    border-bottom: 1px solid rgb(0, 0, 0);
                    top: 0;
                    width: 20%;
                }

                .fancy span:before {
                    right: 100%;
                    margin-right: 15px;
                }

                .fancy span:after {
                    left: 100%;
                    margin-left: 15px;
                }



        #servisebisScroll {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            height: 50vh;
            width: 80vw;
            background-color: #FEF9E7;
            margin: auto;
            margin-top: 4rem;
            overflow: hidden;
            touch-action: none;
            border-radius: 1.6rem;
            gap: 1.5rem;
        }

            #servisebisScroll:first-child {
                padding-left: 1.5rem;
            }

            #servisebisScroll:last-child {
                padding-right: 1.5rem;
            }

        .scrollElement {
            display: grid;
            grid-template-rows: 2fr 1fr;
            border-radius: 3rem;
            width: 25vw;
            height: 80%;
            justify-items: center;
            align-items: center;
            text-align: center;
            font-size: 1.3rem;
            margin: auto 0;
            transition: all 0.4s ease-in;
        }

            .scrollElement:hover {
                background-color: #EBF5FB;
                width: 26vw;
                height: 85%;
                box-shadow: 4px 4px #A9CCE3;
            }

            .scrollElement img {
                width: 6rem;
                height: 6rem;
                oject-fit: cover;
            }

                .scrollElement img:hover,
                .scrollElement p:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }

        #servisebisScroll:hover {
            cursor: grab;
        }



        /* gundis seqcia */

        #chveniGundi {
            display: grid;
            grid-template-columns: 30% 70%;
            margin-top: 10rem;
            width: 80vw;
            height: 70vh;
            background-color: #FEF9E7;
            margin: auto;
            margin-top: 10rem;
            position: relative;
        }

            #chveniGundi img {
                position: absolute;
                width: inherit;
                height: inherit;
                left: -3rem;
                top: 2rem;
                height: 80%;
                border-radius: 3rem;
            }

        .gundiAside {
            display: flex;
            width: 30%;
            height: 100%
        }

        .gundiText h4 {
            height: 50%;
            width: 80%;
            overflow: auto;
            margin-left: 5rem;
            font-weight:200;
        }



        .gundiHeader {
            display: block;
            font-size: 2rem;
            padding-top: 2rem;
            text-align: center;
        }

        .gundiText button {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            background-color: rgb(214, 247, 237, 0.3);
            border: none;
            border-radius: 1rem;
            width: 10rem;
            height: 3rem;
            transition: all 0.5s ease-in;
            overflow: hidden;
        }

            .gundiText button:hover {
                background-color: rgb(214, 247, 237, 1);
                width: 12rem;
                height: 3.3rem;
                padding-right: 2rem;
            }

        .gundiText:hover {
            cursor: default;
        }


        /* siaxleebis containeris stilebi */

        .fancy {
            margin-top: 5rem;
            line-height: 0.5;
            text-align: center;
        }

            .fancy span {
                display: inline-block;
                position: relative;
            }

                .fancy span:before,
                .fancy span:after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    border-bottom: 1px solid rgb(0, 0, 0);
                    top: 0;
                    width: 20%;
                }

                .fancy span:before {
                    right: 100%;
                    margin-right: 15px;
                }

                .fancy span:after {
                    left: 100%;
                    margin-left: 15px;
                }



        #siaxleebisScroll {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: 56vh;
            width: 80vw;
            background-color: #FEF9E7;
            margin: auto;
            margin-top: 4rem;
            overflow: hidden;
            touch-action: none;
            border-radius: 1.6rem;
            gap: 1.5rem;
        }

            #siaxleebisScroll:first-child {
                padding-left: 1.5rem;
            }

            #siaxleebisScroll:last-child {
                padding-right: 1.5rem;
            }

        .news-box {
            flex: 1 1 30rem;
            background: var(---second-bg-color);
            padding: 3rem 2rem 4rem;
            border-radius: 2rem;
            text-align: center;
            border: .2rem solid var(--bg-color);
            transition: .5s ease;
        }

        .news-box:hover {
            border-color: var(--main-color);
            transform: scale(1.02);
        }

        .btn {
            width: 9em;
            height: 4.2ex;
            background-color: rgb(117, 246, 236);
            border-radius: 15px;
            font-weight: 500;
            color: black;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 8px 3px rgb(150, 254, 231);
            animation: shine 1s infinite;
            position: absolute;
            display: flex;
            transition: .5s ease;
            margin-left: 65px;
        }

            .btn:hover {
                background-color: rgb(214, 247, 237);
                box-shadow:none;
            }

            .news-box img {
            width: 3rem;
            height: 3rem;
            margin-bottom: 10px;
            }

    </style>

</head>

<body>
    <div id="banerisContainer">
        <img src="/imgs/kids-med.jpg" />

        <p>
            ერთად დავეხმაროთ ბავშვებს
        </p>
    </div>


    <div id="counter">
        <p>დონორების რაოდენობა</p>
        <p>მიღებული დონაცია</p>
        <p>წარმატებული ოპერაცია</p>

        <p><span id="donorsCounter">0</p>
        <p><span id="donationCounter">$0</p>
        <p><span id="successCounter">0</p>

    </div>


    <p class="fancy"><span>ს ე რ ვ ი ს ე ბ ი</span></p>

    <div id="servisebi">

        <div id="servisebisScroll">

            <div class="scrollElement">
                <img src="/imgs/donate.png" />
                <p>დიაგნოსტირება</p>
            </div>
            <div class="scrollElement">
                <img src="/imgs/donate.png" />
                <p>ქცევითი თერაპია</p>
            </div>
            <div class="scrollElement">
                <img src="/imgs/donate.png" />
                <p>მეტყველების თერაპია</p>
            </div>
            <div class="scrollElement">
                <img src="/imgs/donate.png" />
                <p>ადრეული განვითარების პროგრამა</p>
            </div>
            <div class="scrollElement">
                <img src="/imgs/donate.png" />
                <p>რეაბილიტაცია აბილიტაციის პროგრამა</p>
            </div>
            <div class="scrollElement">
                <img src="/imgs/donate.png" />
                <p>დეტალურად</p>
            </div>

        </div>


    </div>



    <div id="chveniGundi">
        <aside class="gundiAside">
            <img src="/imgs/LOGO1.png" />
        </aside>


        <div class="gundiText">
            <p class="gundiHeader">ჩვენი გუნდი</p>

            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>

            <button>დეტალურად</button>
        </div>

    </div>


    <p class="fancy"><span>ს ი ა ხ ლ ე ე ბ ი</span></p>

    <div id="siaxleebi">

        <div id="siaxleebisScroll">

            <div class="news-box">
                <img src="~/imgs/megaphone.png" />
                <h3>სიახლეები</h3>
                <p>
                    "Driven by a passion for pixels and an obsession with responsiveness,
                    I am dedicated to creating websites that not only look great
                    but also perform seamlessly across devices.
                </p>
                <a href="#" class="btn">გაიგე მეტი</a>
            </div>

            <div class="news-box">
                <img src="~/imgs/checklist.png" />
                <h3>რუბრიკა</h3>
                <p>
                    "Driven by a passion for pixels and an obsession with responsiveness,
                    I am dedicated to creating websites that not only look great
                    but also perform seamlessly across devices.
                </p>
                <a href="#" class="btn">გაიგე მეტი</a>
            </div>

            <div class="news-box">
                <img src="~/imgs/groups.png"  />
                <h3>აქტივობები</h3>
                <p>
                    "Driven by a passion for pixels and an obsession with responsiveness,
                    I am dedicated to creating websites that not only look great
                    but also perform seamlessly across devices.
                </p>
                <a href="#" class="btn">გაიგე მეტი</a>
            </div>







        </div>

    </div>




    <div id="ragac">
    </div>



</body>

<script>

    let mouseDown = false;
    let startX, scrollLeft;
    const slider = document.getElementById("servisebisScroll")

    const startDragging = (e) => {
        mouseDown = true;
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    }

    const stopDragging = (e) => {
        mouseDown = false;
    }

    const move = (e) => {
        e.preventDefault();
        if (!mouseDown) { return; }
        const x = e.pageX - slider.offsetLeft;
        const scroll = x - startX;
        slider.scrollLeft = scrollLeft - scroll;
    }

    // Add the event listeners
    slider.addEventListener('mousemove', move, false);
    slider.addEventListener('mousedown', startDragging, false);
    slider.addEventListener('mouseup', stopDragging, false);
    slider.addEventListener('mouseleave', stopDragging, false);


    //// counter

    function animateValue(id, start, end, duration) {
        var range = end - start;
        var current = start;
        var increment = end > start ? 1 : -1;
        var stepTime = Math.abs(Math.floor(duration / range));
        var obj = document.getElementById(id);
        var timer = setInterval(function () {
            current += increment;
            obj.textContent = current;
            if (current == end) {
                clearInterval(timer);
            }
        }, stepTime);
    }

    window.onload = function () {
        animateValue("donorsCounter", 0, 37, 2000); 
        animateValue("donationCounter", 1000, 3650, 500); 
        animateValue("successCounter", 0, 4, 2000);
    };

</script>
</html>