@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

       

        .containerX {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        .servisebiContainer,
        .fondiContainer,
        .siaxleebiContainer,
        .shesaxebContainer {
            width: 90%; 
            max-width: 1200px;
            margin: 5rem auto;
            height: auto; 
            border-radius: 2rem;
            position: relative;
            font-size:1.3rem;
            font-weight:500;
            
            place-content: center;
        }

        .servisebiContent {
            margin-top: 8rem;
            font-weight: 300;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center !important;
            justify-items: center !important;
            width: 100%;
            height: 20rem;
            font-size: 1.6rem;
            row-gap: 2rem;
            place-content: center;
            
        }

            .servisebiContent img {
                width: fit-content;
                height: 15rem;
                padding: 20px;
            }

            .servisebiContent p {
                display: inherit;
                margin-top: -2rem;
            }

            .servisebiContent div:hover {
                cursor: pointer;
            }

           

       

        .fancy {
            line-height: 0.5;
            text-align: center;
        }

            .fancy span {
                display: inline-block;
                position: relative;
            }

                .fancy span:before,
                .fancy span:after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    border-bottom: 1px solid rgb(0, 0, 0);
                    top: 0;
                    width: 30rem;
                }

                .fancy span:before {
                    right: 100%;
                    margin-right: 15px;
                }

                .fancy span:after {
                    left: 100%;
                    margin-left: 15px;
                }

        .fondiContent {
            margin-top: 8rem;
            font-weight: 300;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center !important;
            justify-items: center !important;
            width: 100%;
            height: 20rem;
            font-size: 1.6rem;
            row-gap: 2rem;
            place-content: center;
            
        }

            .fondiContent img {
                width: fit-content;
                height: 15rem;
                padding: 20px;
            }

            .fondiContent p {
                display: inherit;
                margin-top: -2rem;
            }

            .fondiContent div:hover {
                cursor: pointer;
            }

      
    </style>

</head>

<body>
    <div class="container containerX">
        <div class="content-f">
            <h1>Text</h1>
            <p>TEXT</p>
            <button>Click Me</button>
        </div>
    </div>


    <div style="background-image: url('/imgs/kids-med.jpg');
            background-repeat: no-repeat;" class="baneri"></div>

    <div class="servisebiContainer">
        <p class="fancy"><span>ს ე რ ვ ი ს ე ბ ი</span></p>

        <div class="servisebiContent">
            <img src="~/imgs/donate2.png" style="border-radius: 50%;" />
            <img src="~/imgs/donate2.png" style="border-radius: 50%;" />
            <img src="~/imgs/donate2.png" style="border-radius: 50%;" />
            <img />

            <div>
                დიაგნოსტირება<br />
                მოკლე ტექსტი
            </div>
            <div>
                ქცევითი თერაპია<br />
                მოკლე ტექსტი
            </div>
            <div>
                სენსორული თერაპია<br />
                მოკლე ტექსტი
            </div>

        </div>
    </div>

    <div class="fondiContainer">
        <p class="fancy"><span>ფ ო ნ დ ი</span></p>
        <div class="fondiContent">
            <img src="~/imgs/test.jpg" style="border-radius: 50%;" />
            <img src="~/imgs/test.jpg" style="border-radius: 50%;" />
            <img src="~/imgs/test.jpg" style="border-radius: 50%;" />
            <img />

            <div>
                დიაგნოსტირება<br />
                მოკლე ტექსტი
            </div>
            <div>
                ქცევითი თერაპია<br />
                მოკლე ტექსტი
            </div>
            <div>
                სენსორული თერაპია<br />
                მოკლე ტექსტი
            </div>

        </div>
    </div>

    <div class="siaxleebiContainer">
        <p class="fancy"><span>ს ი ა ხ ლ ე ე ბ ი</span></p>
        <!-- Additional content goes here -->
    </div>

    <div class="shesaxebContainer">
        <p class="fancy"><span>ჩვენს შესახებ</span></p>
        <!-- Additional content goes here -->
    </div>
</body>

</html>