<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wdth,wght@62.5..100,100..900&display=swap" rel="stylesheet">
<head>
    <style>
        body {
            margin: 0;
            margin-right: 0 !important;
            padding: 0;
            margin-right: 2rem;
            overflow-x: hidden;
            font-family: 'Noto Serif Georgian', serif;
        }

        #fond {
            height: fit-content;
            padding-bottom: 5rem;
            background-color: #FEF9E7;
            margin-top: 4rem;
            border-radius: 1.6rem;
            margin-bottom: 10rem;
            position: relative;
        }


        .circle {
            position: absolute;
            top: -25px;
            left: calc(50% - 25px);
            width: 50px;
            height: 50px;
            background-color: #FEF9E7;
            border-radius: 50%;
            box-shadow: 0 0 0 4px #FEF9E7;
        }


            .circle img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

        h5 {
            width: 50%;
            padding-top: 2rem;
            padding-left: 3rem;
        }


    </style>

</head>

<body>
    <div id="fond">

            <div class="circle">

                <img src="~/imgs/don.png" />
            </div>

        <h2 style="font-weight: 700;padding-top: 3rem;
            padding-left: 3rem;">
            ფონდი
        </h2>

            <h5>
                ნეირობალანსირების ცენტრის დამფუძნებელთა გადაწყვეტილებით შეიქმნა ფონდი "ტატა რევიშვილი", რომელიც საშუალებას მისცემს სოციალურად დდაუცველ და შეჭირვებულ ოჯახებს თანადაფინანსებით მიიღონ ნეირობალასირების ცენტრის მომსახურება.<br /><br />
                ფონდის სახელი მიეძღვნა თიკო ჩხეიძისა და ნუკრი რევიშვილის ქალიშვილს - ტატა რევიშვილს. <br /><br />
                ფონდის ბალანსზე უამრავი ბავშვი გადის მომსახურებას, რაც გვახარებს და გვიჩენს კიდევ უფრო მეტ მოტივაციას, ვაცოცხლოთ და გავზარდოთ ფონდი, რომელზეც დგას ჩვენი მომავალი თაობის მენტალური, თუ ფიზიკური ჯანმრთელობა.

            </h5>





    </div>

</body>

</html>