body {
  font-family: 'Noto Serif Georgian', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; 
  padding: 0;

}
main {
  flex: 1; 
  min-height: 100%;
}

header {
  border-radius: 15px;
  box-shadow: 2px inset #fff;



}

:root {

  --primary: #badcfd;
  --secondaryr: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgb(252, 252, 252);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



.navbar-brand span {
  font-weight: 900;
  padding: 30px 0 8px;
  position: relative;
  font-style: italic;
  border-bottom: 3px solid #afe8f1;

}


.nav-item {
  margin-right: 40px;
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: #0077cc;
}

.navbar-nav .nav-link {
  font-weight: 900;
}

.navbar-nav .nav-link {
  width: 5em;
  height: 4.2ex;
  background-color: rgb(117, 246, 236);
  border-radius: 15px;
  font-weight: 500;
  color: rgb(53, 53, 53);
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px 3px rgb(117, 246, 236);
  animation: shine 1s infinite;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }

  100% {
    background-position: 200%;
  }
}

.navbar-nav .nav-link:hover {
  background-color: rgb(150, 254, 231);
}

.navbar-nav .nav-lang {
  text-decoration: none;
  margin-left: 15px;
}

.dropdown li {
  display: block;

}

.dropdown {

  border-radius: 10px;
  border: 4px solid #effbfb;
  top: 100%;
  left: 0;
  background-color: #effbfb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  display: none;
  text-align: start;
  opacity: 0;
  animation: dropdownFade 1s ease forwards;


}

.nav-item:hover .dropdown {
  display: block;

}

@keyframes dropdownFade {
  from {
    transform: translateY(-10px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown a {
  text-decoration: none;
  color: black;


}

.dropdown a:hover {
  color: #0077cc;
}

.donation-img {
  margin-right: 10px;
  width: 5em;
  height: 4.2ex;
  background-color: rgb(117, 246, 236);
  border-radius: 15px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  display: flex;

  justify-content: center;
  box-shadow: 0 0 8px 3px rgb(117, 246, 236);
  animation: shine 1s infinite;
}

.donation-img:hover {
  background-color: rgb(150, 254, 231)
}


.container-xxl {
  width: 90%;
  height:90%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: white;
  position: relative;
  
  
  
}
.main-img {
  border-radius: 10px !important;
  left: 10px;
}
footer {
  flex-shrink: 0; 
  border-radius: 5px;
  box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.1);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  text-align: end;
  
  
}

.footer-links {
  list-style: none;
  font-style:unset;
  font-weight: 400;
  

}

.footer-links a {
  text-decoration: none !important;
  color: black !important;
  transition: font-size 0.3s ease;
}

.footer-links a:hover {
  
  color: #0077cc !important;
}

.main-img {
  max-width: 100%;
  left: 10px;
}