<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - neurobalance.com</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/imgs/LOGOTR.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/neurobalance.com.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wdth,wght@62.5..100,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/m/i/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/m/i/favicons/favicon-16x16.png" sizes="16x16">


</head>

<body>

    <div id="LoginPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h3>შესვლა</h3>
            <form action="#" method="post">
                <label for="email">ელფოსტა</label>
                <input type="email" id="email" name="email" required>

                <label for="password">პაროლი</label>
                <input type="password" id="password" name="password" required>

                <a href="#" onclick="openResetPassword()" style="font-size: smaller; text-decoration: none; margin-bottom: 10px;">პაროლის აღდგენა</a>

                <input type="submit" value="შესვლა">

                <div class="line"></div>

                <div class="social-login">
                   <p>ან შედით</p>
                    
                    <button  class="icon-fblogin"><span>f</span>შესვლა</button>
                    <button class="icon-glogin"><span class="chrome-g">G</span>შესვლა</button>
                </div>

                <div class="register-link">
                    <p>არ გაქვს ანგარიში? <a href="#" onclick="openRegistration()">დარეგისტრირდი</a></p>
                </div>
            </form>
        </div>
    </div>

    <div id="registrationPopup" class="popup" style="height:550px;">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h3>რეგისტრაცია</h3>
            <form action="#" method="post">
                <label for="firstName">სახელი</label>
                <input type="text" id="firstName" name="firstName" required>

                <label for="lastName">გვარი</label>
                <input type="text" id="lastName" name="lastName" required>

                <label for="regEmail">ელფოსტა</label>
                <input type="email" id="regEmail" name="regEmail" required>

                <label for="regPassword">პაროლი</label>
                <input type="password" id="regPassword" name="regPassword" required>

                <input type="submit" value="რეგისტრაცია">

                <div class="line"></div>

               

                <div class="login-link">
                    <p>გაქვს ანგარიში? <a href="#" onclick="openPopup()" style="text-decoration:none;">შესვლა</a></p>
                </div>
            </form>
        </div>
    </div>

    <div id="resetPasswordPopup" class="popup" style="height:310px; ">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h3 style="font-size:1.2rem">პაროლის აღდგენა</h3>
            <form action="#" method="post">
                <label for="resetEmail">ელფოსტა</label>
                <input type="email" id="resetEmail" name="resetEmail" required>

                <input type="submit" value="პაროლის აღდგენა">

                <div class="line"></div>

                <div class="login-link">
                    <p>გახსოვს პაროლი? <a href="#" onclick="openPopup()" style="text-decoration:none;">შესვლა</a></p>
                </div>
            </form>
        </div>
    </div>
    <div id="overlay"></div>





    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="display:block; width: 100vw;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imgs/LOGO1.png" height="70px" width="90px" margin-left:"20px" />
                    <span style=" color: rgb(43, 43, 32);">ნეირობალანსირების ცენტრი</span>
                </a>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index"
                               style="font-size:large">ჩვენს შესახებ</a>
                            <ul class="dropdown">
                                <li><a href="https://localhost:7142/About/Services">სერვისები</a></li>
                                <li><a href="https://localhost:7142/About/Team">გუნდი</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Fond" asp-action="Index"
                               style="font-size:large" large>ფონდი</a>
                            <ul class="dropdown">
                                <li><a href="https://localhost:7142/Fond/Donors">დონორები</a></li>
                                <li><a href="https://localhost:7142/Fond/Transparency">გამჭირვალობა</a></li>
                                <li><a href="https://localhost:7142/Fond/Philanthropy">ფილანტრობი</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="News" asp-action="Index"
                               style="font-size:large">სიახლეები</a>
                            <ul class="dropdown">
                                <li><a href="https://localhost:7142/News/Rubric">რუბრიკა</a></li>
                                <li><a href="https://localhost:7142/News/Activities">აქტივობები</a></li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index"
                               style="font-size:large">კონტაქტი</a>
                        </li>
                    </ul>
                </div>
                <div class="donation-img">
                    <img src="~/imgs/donate2.png">
                </div>




                <div class="navbar-text ml-auto">


                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="openPopup()">შესვლა</a>
                        </li>

                        <li class="navbar-nav">
                            <div class="dropdownA"><span class="nav-lang">GE</span>
                                <div class="dropwdownContent"></div>
                                </div>
                            
                        </li>

                    </ul>

                </div>
            </div>
        </nav>

    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>








    <div class="container-ft">

        <div class=" row">
            <div>

                <ul class="footer-links">
                    <li><a href="https://localhost:7142/Fond/Transparency" class="papsa">გამჭვირვალობა</a></li>
                    <li><a href="https://localhost:7142/News/Activities" class="xuioznaet">ფონდი</a></li>
                    <li><a href="https://localhost:7142/Fond/Philanthropy" class="xuioznaet">დონორები</a></li>
                    <li><a href="https://localhost:7142/Fond/Philanthropy" class="xuioznaet">ფილანთროპი</a></li>

                </ul>
            </div>
            <div >

                <ul class="footer-links">
                    <li><a href="https://localhost:7142/News/Rubric" class="papsa">სიახლეები</a></li>
                    <li><a href="https://localhost:7142/Fond" class="xuioznaet">სერვისები</a></li>
                    <li><a href="https://localhost:7142/News" class="xuioznaet">რუბრიკა</a></li>
                    <li><a href="https://localhost:7142/News" class="xuioznaet">აქტივობები</a></li>
                </ul>
            </div>
            
            <div >

                <ul class="footer-links">
                    <li><a href="https://localhost:7142/About" class="papsa">ჩვენს შესახებ</a></li>
                    <li><a href="https://localhost:7142/Contact" class="xuioznaet">კონტაქტი</a></li>
                    <li><a href="#" class="xuioznaet">გუნდი</a></li>

                </ul>
            </div>

            <div class="donation-ft">
                <img src="~/imgs/donate3.png">
            </div>

        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // დეფოლთი
            document.getElementById("LoginPopup").style.display = "none";
            document.getElementById("registrationPopup").style.display = "none";
            document.getElementById("resetPasswordPopup").style.display = "none";
        });

        // გახნსა
        function openPopup() {
            document.getElementById("LoginPopup").style.display = "block";
            document.getElementById("registrationPopup").style.display = "none";
            document.getElementById("resetPasswordPopup").style.display = "none";
            document.getElementById("overlay").style.display = "block";
        }
        function openRegistration() {
            document.getElementById("LoginPopup").style.display = "none";
            document.getElementById("resetPasswordPopup").style.display = "none";
            document.getElementById("registrationPopup").style.display = "block";
        }
        function closeRegistration() {
            document.getElementById("registrationPopup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
            
        }

        function openResetPassword() {
            document.getElementById("LoginPopup").style.display = "none";
            document.getElementById("registrationPopup").style.display = "none";
            document.getElementById("resetPasswordPopup").style.display = "block";
        }

        // დამალვა
        function closePopup() {
            document.getElementById("LoginPopup").style.display = "none";
            document.getElementById("registrationPopup").style.display = "none";
            document.getElementById("resetPasswordPopup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
