<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wdth,wght@62.5..100,100..900&display=swap" rel="stylesheet">
<head>
    <style>
        body {
            margin: 0;
            margin-right: 0 !important;
            padding: 0;
            margin-right: 2rem;
            overflow-x: hidden;
            font-family: 'Noto Serif Georgian', serif;
        }

        #newsScroll {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: 70vh;
            width: 80vw;
            background-color: #FEF9E7;
            margin: auto;
            margin-top: 4rem;
            overflow: hidden;
            touch-action: none;
            border-radius: 1.6rem;
            gap: 1.5rem;
            margin-bottom: 10rem;
        }

        #newsScroll:first-child {
                padding-left: 1.5rem;
            }

        #newsScroll:last-child {
                padding-right: 1.5rem;
            }

    </style>

</head>

<body>
    <div id="news">
        <div id="newsScroll">
        </div>





    </div>

</body>

</html>